<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<h1><a href="/">Título inicial</a></h1>

<div>
<p>Prueba de texto</p>
<p>Otra prueba más :)</p>
<p>El tutorial que uso es <a href="https://tutorial.djangogirls.org/es/">DjangoGirls</a>.</p>
</div>

{% for post in posts %}

<div>
    <h2><a href="/">{{post.title}}</a></h2>
    <p>{{post.text|linebreaksbr}}</p>
    <p>Publicado: {{post.published_date}}</p>
</div>

{% endfor %}

</body>
</html>
