{% extends 'base_template.html' %}

{% block title %}
Add Data Page
{% endblock title %}

{% block custom_css %}
<style>
.bg_blue{
padding:10px;
border-radius:10px;
box-shadow:3px 3px 3px grey;
background:dodgerblue;
color:#fff;
}
.custom-block{
padding:15px;
border:1px solid dodgerblue;
}
</style>
{% endblock custom_css %}

{% block bodydata %}
<div class="container">
    <div class="row">
    <div class="col-lg-6 custom-block">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="bg_blue">Edit Students</h2>
            </div>
            <div class="col-lg-12">
                <form action="/edit_student" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Nombre : </label>
                    <input type="text" name="name" class="form-control" value="{{ student.name }}" placeholder="Inserte el nombre del alumno">
                </div>
                <div class="form-group">
                    <label class="control-label">Curso : </label>
                    <input type="text" name="curso" class="form-control" value="{{ student.curso }}" placeholder="Inserte el curso del alumno">
                </div>
                  <div class="form-group">
                    <label class="control-label">Establecimiento : </label>
                    <input type="text" name="colegio" class="form-control" value="{{ student.colegio }}" placeholder="Inserte el establecimiento del alumno"> 
                </div>
                <div class="form-group">
                    <label class="control-label">Síntomas Diurnos (veces/semana): </label>
                    <input type="text" name="sintomas_diurnos" class="form-control" value="{{ student.sintomas_diurnos }}" placeholder="Frecuencia con la que tiene síntomas en el día, como tos, fatiga, etc (Ej: 1,2,3) ">
                </div>
                <div class="form-group">
                    <label class="control-label">Medicación (veces/semana): </label>
                    <input type="text" name="medicacion" class="form-control" value="{{ student.medicacion }}" placeholder="Frecuencia con la que toma medicamentos para el asma (Ej: 1,2,3) ">
                </div>
                <div class="form-group">
                    <label class="control-label">Síntomas Nocturnos (veces/semana): </label>
                    <input type="text" name="sintomas_nocturnos" class="form-control" value="{{ student.sintomas_nocturnos }}" placeholder="Frecuencia con la que tiene síntomas en la noche (Ej: 1,2,3) ">
                </div>
                <div class="form-group">
                    <label class="control-label">Ataques de Asma (veces/semana): </label>
                    <input type="text" name="ataques" class="form-control" value="{{ student.ataques }}" placeholder="Frecuencia con la que sufre ataques de asma (Ej: 1,2,3) ">
                </div>
    
                <div class="form-group">
                    <input type="hidden" value="{{ student.id }}" name="id">
                    <input type="submit" name="submit" class="btn btn-block btn-success" value="Edit Students">
                </div>

                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                 {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                 {% endif %}
            </div>
        </div>
    </div>
</div>


 

{% endblock bodydata %}

{% block custom_js %}



{% endblock custom_js %}